<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabajo Integrador</title>
    <link rel="stylesheet" href="../component/Ej1.css" />
  </head>
  <body>
    <div id="container">
      <div id="box1" class="box" style="background-color: lightgray">
        Caja 1
      </div>
      <div id="box2" class="box">Caja 2</div>
      <div id="box3" class="box" style="background-color: lightgray">
        Caja 3
      </div>
    </div>

    <button id="change-color-btn">Cambiar Color</button>
    <button id="change-text-btn">Cambiar Texto</button>
    <script src="../dist/app.js"></script>
  </body>
</html>
